# Default ignored files
/shelf/
/workspace.xml
/.idea
/CMakeLists
/cmake-build-debug
# Datasource local storage ignored files
/../../../../../../:\Users\alexs\POO\Proiect\.idea
/../../../../../../:\Users\alexs\POO\Proiect\CMakeLists
/../../../../../../:\Users\alexs\POO\Proiect\cmake-build-debug
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
